{% extends "base.html" %}

{% block content %}
    {% load static %}

    <style>
        #contact{
            background-color: #666;
            color: white;
        }

        .small {
            transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9); /* IE 9 */
            -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
            -o-transform: scale(0.9, 0.9); /* Opera */
            -moz-transform: scale(0.9, 0.9); /* Firefox */
        }


    .bd {
        background-image: url({% static 'img/3.jpg' %});
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col{
        padding: 10px;
    }


    </style>
    <div class="small card p-1 mb-4 bg-white rounded" style="min-width: 50%;">
        <div class="header">
            <h2>Contact Developers</h2>
        </div>
        <div class="card-body">
            <br>
            <div class="row">
                <div class="col">
                    <div class="card" align= "middle">
                        <img class="card-img-top" src="{% static 'img/ayush.png' %}" alt="Card image" style="margin-top: 20px;width:80%;align-self: center;">
                        <div class="card-block" align= "middle">
                            <br>
                            <h3 >Ayush Kumar</h3>
                            <h5 >aimayush@gmail.com</h5>
                            <h5 ><a href="https://github.com/t-aayu"> <i class="fa fa-fw fa-github"></i>t-aayu</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/anshul.png' %}" alt="Card image" style="margin-top: 20px;width:80%;align-self: center">
                        <div class="card-block" align= "middle"><br>
                            <h3 >Anshul Choudhary</h3>
                            <h5 >anshul.iitkgp1@gmail.com</h5>
                            <h5  ><a href="https://github.com/Anshul718/"><i class="fa fa-fw fa-github"></i> Anshul718</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'img/bindal.png' %}" alt="Card image" style="margin-top: 20px;width:80%;align-self: center">
                        <div class="card-block" align= "middle"><br>
                            <h3 >Prakhar Bindal</h3>
                            <h5 > prakharbindal98@gmail.com</h5>
                            <h5 ><a href="https://github.com/prakharmath"><i class="fa fa-fw fa-github"></i> prakharmath</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" align= "middle">
                        <img class="card-img-top" src="{% static 'img/BookBay.png' %}" alt="Card image" style="margin-top: 20px;width:80%;align-self: center">
                        <div class="card-block"><br>
                            <h3 >Gaurav Goyal</h3>
                            <h5> aimayush@gmail.com</h5>
                            <h5><a href="https://github.com/Gaurav314"><i class="fa fa-fw fa-github"></i> Gaurav314</a></h5>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </div>
{% endblock %}