{% extends "userbase.html" %}

{% block content %}
    {% load static %}
    <style>
        #mybooks{
            background-color: #666;
            color: white;
        }

        .small {
            transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9); /* IE 9 */
            -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
            -o-transform: scale(0.9, 0.9); /* Opera */
            -moz-transform: scale(0.9, 0.9); /* Firefox */
        }

        .column {
            float: left;
            width: 20%;
            padding: 0 10px;
        }

    </style>

    <div class="small card p-1 mb-5 bg-white rounded" style="min-width: 50%;">
        <div class="header">
            <h3>My Books</h3>
        </div>
        <div id = "big" class="card-body">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <h4>{{ message }}</h4>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for book in books %}
                <div class="column">
                    <div class="card shadow p-1 mb-5 bg-white rounded">
                        <img class="card-img-top" src="{% static 'img/BookBay.png' %}" alt="Card image" style="width:60%;align-self: center">
                        <div class="card-body" >
                            <h3 class="center">{{ book.Book_Name}}</h3><br>
                            <h6>
                                Genre: {{ book.Genre }} <br>
                                Author: {{ book.Author }} <br>
                                Edition : {{ book.Edition }} <br>
                                ISBN : {{ book.ISBN }} <br>
                            </h6>
                            <br>

                            <form action = "/bookedit/" target = "_blank" method = "get" >
                                <button type = "submit" class="btn btn-info" style="width: 40%;margin-left: 30%"><i class="fa fa-eye"></i>  View</button>
                            </form>
                            <form action = "/bookedit/" target = "_blank" method = "get" >
                                <button type = "submit" class="btn btn-info" style="width: 40%;margin-left: 30%; background: #ff4500;margin-top: 7px"><i class="fa fa-remove"></i> Delete</button>
                            </form>

                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>

        <form action = "/addbook/" target = "_blank" method = "get" style="width: 20%;margin-left: 45%;">
            <button type = "submit" class="btn btn-info" style="width: 40%;margin-left: 5%">Add Book</button>
        </form>
        <br>
    </div>

{% endblock %}