{% extends "userbase.html" %}

{% block content %}
    {% load static %}
    <style>
        #mybooks{
            background-color: #666;
            color: white;
        }

        .small {
            transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9); /* IE 9 */
            -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
            -o-transform: scale(0.9, 0.9); /* Opera */
            -moz-transform: scale(0.9, 0.9); /* Firefox */
        }

        .column {
            float: left;
            width: 20%;
            padding: 0 10px;
        }

        .bd {
            background-image: url({% static 'img/3.jpg' %});
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


    </style>
    <!-- Modals for view, delete and edit-->
    {% for book in books %}

        <!-- Modal for view -->
        <div class="modal fade" id="view{{ book.ISBN }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Book Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" align="middle">
                        <h4><b>Title</b> : {{ book.Book_Name }}</h4>
                        <b>Author</b> : {{ book.Author }} <br>
                        <b>ISBN</b> : {{ book.ISBN }} <br>
                        <b>Year</b> : {{ book.Year }} <br>
                        <b>Language</b> : {{ book.Language }} <br>
                        <b>Repayment Policy</b> : {{ book.Repayment_Policy }}<br>
                        <b>Availability</b> : {% if book.Availability == '1' %}
                        Yes
                    {% else %}
                        No
                    {% endif %}<br>
                        <b>Other Specifications</b> : {{ book.Other_Specifications }}<br>
                        <b>Security Money of Book</b> : Rs.{{ book.Security_Money_of_Book }}<br>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#editbook{{ book.ISBN }}" ><i class="fa fa-edit"></i>  Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>  Cancel</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal to change Availability-->
        <div class="modal fade" id="availability{{ book.ISBN }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" >{{ book.Book_Name }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="post" action="/mybooks/">
                        {% csrf_token %}
                        <div class="modal-body" align="middle">
                            <label class="lab" >Available for sharing</label>
                            <select id="available" type="text" name="available" class="form-control" required>
                                <option value="0" {% if book.Availability == "0" %}selected{% endif %}>Not Available</option>
                                <option value="1" {% if book.Availability == "1" %}selected{% endif %}>Available</option>
                            </select></div>

                        <div class="modal-footer">
                            <input id="isbn" name="isbn" value="{{ book.ISBN }}" type="hidden">
                            <button type="submit" name="changeavailable"  value="changeavailable" class="btn btn-info" >Change</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        </div>


        <!-- Modal for delete Book-->
        <div class="modal fade" id="delete{{ book.ISBN }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" >{{ book.Book_Name }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure you want to delete '{{ book.Book_Name }}' from My Books.</p>
                    </div>

                    <div class="modal-footer">
                        <form method="post" action="/mybooks/">
                            {% csrf_token %}
                            <input id="isbn" name="isbn" value="{{ book.ISBN }}" type="hidden">
                            <button type="submit" name="delete"  value="delete" class="btn btn-warning" ><i class="fa fa-remove"></i>  Delete</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal for Edit Book-->
        <div class="modal fade" id="editbook{{ book.ISBN }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Book</h4>
                        <button type="button" class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body" >
                        <form method="POST" class="post-form" action="/mybooks/">
                            {% csrf_token %}
                            <div>
                                <h5>Please fill in this fields you want to change.</h5>
                                <div id="title" >
                                    <label class="lab">Title</label>
                                    <input type="text"  name="title"  value={{ book.Book_Name }} class="form-control" readonly>
                                </div>

                                <div  id="isbn" >
                                    <label class="lab" >ISBN</label>
                                    <input type="text"  name="isbn"  value={{ book.ISBN }} class="form-control" readonly>
                                </div>

                                <div  id="repaymentpolicy" >
                                    <label class="lab" >Repayment Policy</label>
                                    <input type="text"  name="repaymentpolicy"  value={{ book.Repayment_Policy }} class="form-control" >
                                </div>

                                <div  id="availability" >
                                    <label class="lab" >Availability</label>
                                    {% if book.Availability == "0" %}
                                        <select type="text" name="availability" class="form-control" required>
                                            <option value="0" selected>Not Available(N/A)</option>
                                            <option value="1">Available</option>
                                        </select>
                                    {% else %}
                                        <select type="text" name="availability" class="form-control" required>
                                            <option value="0" >Not Available(N/A)</option>
                                            <option value="1" selected>Available</option>
                                        </select>
                                    {% endif %}
                                    <!--input type="text"  name="availability"  value={{ book.Availability }} class="form-control" -->
                                </div>

                                <div  id="otherspecifications" >
                                    <label class="lab" >Other Specifications</label>
                                    <input type="text"  name="otherspecifications"  value={{ book.Other_Specifications }} class="form-control" >
                                </div>

                                <div  id="securitymoneyofbook" >
                                    <label class="lab" >Security Money of Book</label>
                                    <input type="text"  name="securitymoneyofbook"  value={{ book.Security_Money_of_Book }} class="form-control" >
                                </div>
                                <br>
                                <button type="submit" name="editbook" value="editbook" class="btn btn-info" ><i class="fa fa-save"></i>  Save</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

    <!-- Modal for Add Book-->
    <div class="modal fade" id="addbook" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Book</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" >
                    <form method="POST" class="post-form" action="/mybooks/">
                        {% csrf_token %}
                        <div>
                            <h5>Please fill in this form to a add book.</h5>

                            <div  id="isbn" >
                                <label class="lab" >ISBN Number</label>
                                <input type="text"  name="isbn"  placeholder="13 digit ISBN without ' - '" class="form-control" required>
                            </div>

                            <div  id="repaymentpolicy" >
                                <label class="lab" >Repayment Method</label>
                                <input type="text"  name="repaymentpolicy"  placeholder="In case of book loss, how would you like to repaid" class="form-control" >
                            </div>

                            <div  id="availability" >
                                <label class="lab" >Availability</label>
                                <!--input type="text"  name="availability"  placeholder="if available to sahre then Yes else No" class="form-control" required-->
                                <select id="cars" type="text" name="availability" class="form-control" required>
                                    <option value="0">Not Available(N/A)</option>
                                    <option value="1">Available</option>
                                </select>
                            </div>

                            <div  id="otherspecifications" >
                                <label class="lab" >Other Specifications</label>
                                <input type="text"  name="otherspecifications"  placeholder="eg. book condition, marks, sharing terms, etc." class="form-control" >
                            </div>

                            <div  id="securitymoneyofbook" >
                                <label class="lab" >Security Money of Book</label>
                                <input type="text"  name="securitymoneyofbook"  placeholder="Security Money of Book, Rs.0 by default" class="form-control" >
                            </div>
                            <br>
                            <button type="submit" name="addbook" value="addbook" class="btn btn-info" ><i class="fa fa-plus"></i>  Add Book</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- My books Section-->
    <div class="small card p-1 mb-5 bg-white rounded" style="min-width: 50%;">
        <div class="header">
            <h2>My Books</h2>
        </div>
        <div id = "big" class="card-body">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <h3 style="color: green;align-self: center;margin-bottom: 5px;">{{ message }}</h3>
                        {% else %}
                            <h3 style="color: red;margin-bottom: 5px;">{{ message }}</h3>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% for book in books %}
                <div class="column">
                    <div class="card shadow p-1 mb-5 bg-white rounded">
                        <img class="card-img-top" src="{% static 'img/BookBay.png' %}" alt="Card image" style="width:60%;align-self: center">
                        <div class="card-body" align="middle">
                            <h3 style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{ book.Book_Name}}</h3>
                            <h5 style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"   >
                                <b>Author</b> : {{ book.Author }} <br>
                                <b>ISBN</b> : {{ book.ISBN }} <br>
                                <b>Year</b> : {{ book.Year }} <br>
                                <b>Language</b> : {{ book.Language }} <br>
                                <b>Available for sharing</b> :
                                {% if book.Availability == '1' %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}&ensp;<button type = "submit" class="btn btn-info" data-toggle="modal" data-target="#availability{{ book.ISBN }}" style="padding: 2px;margin: 0px">Change</button><br></h5>
                            <button type = "submit" class="btn btn-info" data-toggle="modal" data-target="#view{{ book.ISBN }}" ><i class="fa fa-eye"></i>  View</button>
                            <button type = "submit" class="btn btn-danger" data-toggle="modal" data-target="#delete{{ book.ISBN }}" style="margin-left: 10px"><i class="fa fa-remove"></i> Delete</button>

                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>


        <div align="middle">
            <button type = "submit" class="btn btn-info" data-toggle="modal" data-target="#addbook" style="width: 10%;">Add Book</button>
        </div>

        <br>
    </div>
{% endblock %}