{% extends "userbase.html" %}

{% block content %}
    {% load static %}
    <style>
        .small {
            transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9); /* IE 9 */
            -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
            -o-transform: scale(0.9, 0.9); /* Opera */
            -moz-transform: scale(0.9, 0.9); /* Firefox */
        }

        .column {
            float: left;
            width: 20%;
            padding: 0 10px;
        }

    </style>

    <div class="small card p-1 mb-5 bg-white rounded" style="min-width: 50%;">
        <div class="header">
            <h2 style="padding: 0px;margin-top: 5px">Search Result</h2>
        </div>
        <div id = "big" class="card-body">
        {% for book in books %}
            <div class="column">
                <div class="card shadow p-1 mb-5 bg-white rounded">
                    <img class="card-img-top" src="{% static 'img/BookBay.png' %}" alt="Card image" style="width:60%;align-self: center">
                    <div class="card-body" align="middle">
                        <form action = "/bookdetail/" target = "_blank" method = "POST">
                            {% csrf_token %}
                            <h3 class="center" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{ book.book_name}}</h3>
                            <h5>
                                Genre: {{ book.genre }} <br>
                                Author: {{ book.author }} <br>
                                Edition : {{ book.edition }} <br>
                                ISBN : {{ book.isbn }} <br>
                            </h5>
                            <input  id="isbn" name="isbn" value="{{ book.isbn }}" style="visibility: hidden; height: 0px; width: 0px;"  >
                            <button type = "submit" class="btn btn-info" >View</button>
                        </form>
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>
    </div>
{% endblock %}