{% extends "userbase.html" %}

{% block content %}
    {% load static %}

    <style>

        #home{
            background-color: #666;
            color: white;
        }

    </style>

    <script>
        function geterror() {
            alert("Book Not Found")
        }
    </script>

    {% if messages %}
        <script>geterror();</script>
    {% endif %}

    <br><br><br><br>
    <div class="small card p-1 mb-5 bg-white rounded" style="max-width: 50%;margin-left: 25%">
        <div class="header">
            <h2 >Search Book</h2>
        </div>
        <div class="card-body">
            <form method="POST" id="search-form" class="post-form" action="/searchresult/" >
                {% csrf_token %}
                <div id="searchbox" align="middle">
                    <div id="search" >
                        <input type="search" style="margin-top: 15px;" name="search"  placeholder="Enter Book Name or ISBN ..." class="form-control" required>
                    </div>

                    <div>
                        <button type = "submit" class="btn btn-info" style="width: 30%;margin-top: 15px;><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}